<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div><i class="fa fa-line-chart" aria-hidden="true">Performance Analytics</i></div>
<div class="modal fade" id="example" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #eeffee;">
            <h4 class="modal-title-center"><b>Course Details</b></h4>
        </div>
        <div class="modal-body">
            <p><b>Course Name:{{course}}</b></p>
            <hr>
            <div class="row">
                <div class="col-md-3"><B>Class Attended:{{present}}</B></div>
                <div class="col-md-2"><B>Classes:{{total}}</B></div>
                <div class="col-md-2"><B>UE:{{UE}}/100</B></div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fas fa-thumbs-up"></i>OK</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="example1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #eeffee;">
            <h4 class="modal-title-center"><b>Course Details</b></h4>
        </div>
        <div class="modal-body">
            <p><b>Course Name:{{course}}</b></p>
            <hr>
            <div class="row">
                <div class="col-md-3"><B>Class Taken:{{total}}</B></div>
                <div class="col-md-4"><B>Attendance %:{{attendanceF}}</B></div>
                <div class="col-md-4"><B>Average UE:{{UE}}/100</B></div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fas fa-thumbs-up"></i>OK</button>
        </div>
      </div>
    </div>
  </div>


<div class="container" *ngIf="u.includes('STUDENT')">
    <div class="row">
        <div class="col-md-2">
            <mat-label class="labels">Academic Year</mat-label>
            <mat-select [(ngModel)]="SelectedYear">
                <mat-option *ngFor="let year of a" [value]="year">{{year}}</mat-option>
            </mat-select>
        </div>
        <div class="col-md-2">
            <mat-label class="labels">Semesters</mat-label>
            <mat-select name="terms" [(ngModel)]="SelectedSem">
                <mat-option *ngFor="let terms of semester" [value]="terms">
                    Semester - {{terms}}
                </mat-option>
            </mat-select>
        </div>
            <td>
                <button class="btn" (click)="search()">Search</button>
            </td>
        <hr>
    </div>
    <div *ngIf="chart_visibility == true">
        <div *ngIf="columnChart">
            <google-chart [data]="columnChart" (chartSelect)="onChartSelect($event)" data-toggle="modal" data-target="#example"></google-chart>
        </div>
    </div>
</div>


<div class="container" *ngIf="u.includes('FACULTY') && u.includes('HOD') == false && u.includes('PRINCIPAL') == false" >
    <div class="row">
        <div class="col-md-2">
            <mat-label class="labels">Academic Year</mat-label>
            <mat-select [(ngModel)]="SelectedYear">
                <mat-option *ngFor="let year of a" [value]="year">{{year}}</mat-option>
            </mat-select>
        </div>
        <div class="col-md-2">
            <mat-label class="labels">Semesters</mat-label>
            <mat-select name="terms" [(ngModel)]="SelectedSem">
                <mat-option *ngFor="let terms of semester" [value]="terms">
                    Semester - {{terms}}
                </mat-option>
            </mat-select>
        </div>
            <td>
                <button class="btn" (click)="search()">Search</button>
            </td>
        <hr>
    </div>
    <div *ngIf="chart_visibility == true">
        <div *ngIf="column">
            <google-chart [data]="column" (chartSelect)="onChartSelect1($event)" data-toggle="modal" data-target="#example1"></google-chart>
        </div>
    </div>
</div>

<div *ngIf="error_flag">
    <p class="error-message">{{error_message}}</p>
</div>

<div class="container" *ngIf="u.includes('HOD')">
    <div class="row">
        <div class="col-md-2">
            <mat-label class="labels">Academic Year</mat-label>
            <mat-select [(ngModel)]="SelectedYear">
                <mat-option *ngFor="let year of a" [value]="year">{{year}}</mat-option>
            </mat-select>
        </div>
        <div class="col-md-2">
            <mat-label class="labels">Semesters</mat-label>
            <mat-select name="terms" [(ngModel)]="SelectedSem">
                <mat-option *ngFor="let terms of semester" [value]="terms">
                    Semester - {{terms}}
                </mat-option>
            </mat-select>
        </div>
            <td>
                <button class="btn" (click)="search()">Search</button>
            </td>
        <hr>
    </div>
    <div class="row">
        <div class="col-sm-2">
                <ul *ngFor="let f of faculty">
                    <button class="btn"  (click)="getAttendanceGraph(f['employeeGivenId'])">{{f['name']}}</button>
                </ul>        
        </div>
        <div class="col-sm-10">
            <div *ngIf="chart_visibility == true">
                <div *ngIf="column">
                    <google-chart [data]="column" (chartSelect)="onChartSelect1($event)" data-toggle="modal" data-target="#example1"></google-chart>
                </div>
            </div>
            
        </div>
    </div>
</div>



<div class="container" *ngIf="u.includes('PRINCIPAL')">
    <div class="row">
        <div class="col-md-2">
            <mat-label class="labels">Academic Year</mat-label>
            <mat-select [(ngModel)]="SelectedYear">
                <mat-option *ngFor="let year of a" [value]="year">{{year}}</mat-option>
            </mat-select>
        </div>
        <div class="col-md-2">
            <mat-label class="labels">Branch</mat-label>
            <mat-select name="terms" [(ngModel)]="SelectedBranch">
                <mat-option *ngFor="let b of branch" [value]="b">
                    {{b}}
                </mat-option>
            </mat-select>
        </div>
        <div class="col-md-2">
            <mat-label class="labels">Semesters</mat-label>
            <mat-select name="terms" [(ngModel)]="SelectedSem">
                <mat-option *ngFor="let terms of semester" [value]="terms">
                    Semester - {{terms}}
                </mat-option>
            </mat-select>
        </div>
            <td>
                <button class="btn" (click)="search()">Search</button>
            </td>
        <hr>
    </div>
    <div class="row">
        <div class="col-sm-2">
                <ul *ngFor="let f of fname">
                    <button class="btn" (click)="getAttendanceGraph(f['empId'])">{{f['name']}}</button>
                </ul>        
        </div>
        <div class="col-sm-10">
            <div *ngIf="chart_visibility == true">
                <div *ngIf="column">
                    <google-chart [data]="column" (chartSelect)="onChartSelect1($event)" data-toggle="modal" data-target="#example1"></google-chart>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="spinner" *ngIf="showSpinner">
    <mat-spinner></mat-spinner>
</div>
    <style>
        th,
        td {
            width: 150px;
            text-align: center;
            padding: 5px;
            color: #B03060(23, 119, 82);
        }
    </style>